@import url("../fonts/fonts_stylesheet.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
@import url("nullstyle+.css");
:root {
  --specialRedFlower: #f23005;
  font-size: clamp(1em, 0.002em + 0.94vw, 4.7em);
}

@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: 1vw;
    height: 1vw;
  }
  ::-webkit-scrollbar-track {
    background: #1b1b1b;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(228, 228, 228);
    border: 0.3333333333vw solid #1b1b1b;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--specialRedFlower);
  }
}
body {
  background-color: #1b1b1b;
}
@media (max-width: 43.75rem) {
  body.menu-open {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
    padding-right: var(--bodyLockPadding_js);
  }
}

@media (max-width: 43.75rem) {
  body.menu-open {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
    padding-right: var(--bodyLockPadding_js);
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: "HelveticaNeueCyr";
  color: rgb(255, 255, 255);
}

.container {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 clamp(10px, 8.4158415842px + 0.495049505vw, 15px);
}

.text-1 {
  font-size: clamp(0.75rem, 0.7103960396rem + 0.198019802vw, 0.875rem);
  line-height: 1.2;
  font-weight: 100;
}

.menu {
  background-color: transparent;
}
.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 43.75rem) {
  .menu__list {
    flex-direction: column;
    background-color: #030303;
    height: 100%;
    padding: 8% 15% 20% 15%;
    overflow: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: -150%;
    z-index: 2;
    transition: all 0.3s;
  }
  .menu__list.menu-list-open {
    top: 0;
  }
}
@media (max-width: 43.75rem) {
  .menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.menu__item_x {
  display: none;
}
@media (max-width: 43.75rem) {
  .menu__item_x {
    display: inline-block;
    align-self: flex-end;
  }
}
.menu__link {
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 0.0625rem solid transparent;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--specialRedFlower);
    border-bottom-color: var(--specialRedFlower);
  }
}
@media (any-hover: none) {
  .menu__link {
    cursor: default;
  }
  .menu__link:active {
    color: var(--specialRedFlower);
    border-bottom-color: var(--specialRedFlower);
  }
}
@media (max-width: 43.75rem) {
  .menu__link {
    font-size: 1.25rem;
  }
}
.menu__btn-close {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}
@media (any-hover: hover) {
  .menu__btn-close:hover::before, .menu__btn-close:hover::after {
    background-color: var(--specialRedFlower);
  }
}
@media (any-hover: none) {
  .menu__btn-close {
    cursor: default;
  }
  .menu__btn-close:active::before, .menu__btn-close:active::after {
    background-color: var(--specialRedFlower);
  }
}
.menu__btn-close::before, .menu__btn-close::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 0.3125rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.menu__btn-close::before {
  transform: rotate(-45deg);
}
.menu__btn-close::after {
  transform: rotate(45deg);
}
.menu__burger {
  display: none;
}
@media (max-width: 43.75rem) {
  .menu__burger {
    height: 1.875rem;
    width: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (any-hover: hover) {
  .menu__burger:hover span, .menu__burger:hover::before, .menu__burger:hover::after {
    background-color: var(--specialRedFlower);
  }
}
@media (any-hover: none) {
  .menu__burger {
    cursor: default;
  }
  .menu__burger:active span, .menu__burger:active::before, .menu__burger:active::after {
    background-color: var(--specialRedFlower);
  }
}
.menu__burger span, .menu__burger::before, .menu__burger::after {
  content: "";
  height: 0.25rem;
  width: 100%;
  background-color: white;
  transition: all 0.3s;
}

.banner {
  background: url("../img/Banner0.jpg") no-repeat center center/cover;
  min-height: 200vh;
  padding-bottom: 10px;
}
@media (max-width: 43.75rem) {
  .banner {
    background: url("../img/Banner0_1.jpg") no-repeat center/cover;
  }
}
.banner__box-top {
  max-width: 100%;
  min-height: 100vh;
  padding-left: clamp(0px, -49.1089108911px + 15.3465346535vw, 155px);
  padding-right: clamp(0px, -49.1089108911px + 15.3465346535vw, 155px);
  padding-top: calc(21.4285714286px + 53.5714285714 * min((100vmin - 320px) / 677.5, (100vmax - 320px) / 1010));
  padding-bottom: 24vh;
}
@media (min-width: 106.25rem) {
  .banner__box-top {
    padding-left: 9.6875rem;
    padding-right: 9.6875rem;
  }
}
.banner__box-info {
  min-height: 100vh;
  padding: 0 50% 0 0;
}
@media (max-width: 43.75rem) {
  .banner__box-info {
    padding-left: clamp(0px, -49.1089108911px + 15.3465346535vw, 155px);
    padding-right: clamp(0px, -49.1089108911px + 15.3465346535vw, 155px);
  }
}

.box-top__menu {
  max-width: 44.375rem;
  margin-bottom: 20vh;
}
.box-top__body {
  max-width: 44.375rem;
  display: flex;
  flex-direction: column;
}
.box-top__top-btns {
  display: flex;
  justify-content: end;
  gap: 0.875rem;
  margin-bottom: clamp(1.25rem, 1.051980198rem + 0.9900990099vw, 1.875rem);
}
.box-top__top-button {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  border: solid 0.125rem #ffffff;
  background-color: transparent;
  position: relative;
  transition: all 0.2s;
}
.box-top__top-button span::before {
  content: "";
  display: inline-block;
  width: 0.4375rem;
  height: 0.4375rem;
  border-top: 0.125rem solid white;
  border-left: 0.125rem solid white;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.2s;
}
.box-top__top-button_left span::before {
  transform: translate(-35%, -50%) rotate(315deg);
}
.box-top__top-button_right span::before {
  transform: translate(-65%, -50%) rotate(135deg);
}
@media (any-hover: hover) {
  .box-top__top-button.active:hover, .box-top__top-button.active:hover span::before {
    border-color: var(--specialRedFlower);
  }
}
@media (any-hover: none) {
  .box-top__top-button.active {
    cursor: default;
  }
  .box-top__top-button.active:active, .box-top__top-button.active:active span::before {
    border-color: var(--specialRedFlower);
  }
}
.box-top__greetings {
  font-size: clamp(0.875rem, 0.4591584158rem + 2.0792079208vw, 2.1875rem);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
  font-weight: 100;
  letter-spacing: 0.03125rem;
  margin-bottom: clamp(0.25rem, 0.1707920792rem + 0.396039604vw, 0.5rem);
}
.box-top__title {
  font-size: clamp(2.0625rem, 1.1318069307rem + 4.6534653465vw, 5rem);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
  font-weight: bold;
  margin-bottom: clamp(0.3125rem, 0.213490099rem + 0.495049505vw, 0.625rem);
}
.box-top__title span {
  color: var(--specialRedFlower);
}
.box-top__text {
  margin-bottom: clamp(0.9375rem, 0.5810643564rem + 1.7821782178vw, 2.0625rem);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.box-top__text p {
  text-align: justify;
  direction: rtl;
  flex: 1 0 100%;
  opacity: 0;
  transition: margin-left 0.7s, padding 0.7s, opacity 0.9s;
}
.box-top__text p:first-child {
  margin-left: 0;
}
.box-top__text p.active {
  opacity: 1;
  padding: 0;
}
.box-top__bottom-btns {
  display: flex;
  justify-content: end;
  gap: clamp(0.625rem, 0.3675742574rem + 1.2871287129vw, 1.4375rem);
}
.box-top__bottom-button {
  width: 100%;
  max-width: 10.125rem;
  border: #ffffff 0.0625rem solid;
  font-size: 0.6875rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 5.371;
  text-align: center;
  transition: all 0.2s;
}
@media (any-hover: hover) {
  .box-top__bottom-button:hover {
    border-color: var(--specialRedFlower);
    background-color: var(--specialRedFlower);
  }
}
@media (any-hover: none) {
  .box-top__bottom-button {
    cursor: default;
  }
  .box-top__bottom-button:active {
    border-color: var(--specialRedFlower);
    background-color: var(--specialRedFlower);
  }
}

.box-info__body {
  max-width: 39.6875rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.box-info__item {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.box-info__item:not(:last-child) {
  margin-bottom: clamp(1.125rem, 0.5903465347rem + 2.6732673267vw, 2.8125rem);
}
.box-info__decorative-title-box {
  background-color: var(--specialRedFlower);
  height: clamp(4.375rem, 3.3849009901rem + 4.9504950495vw, 7.5rem);
  width: clamp(4.375rem, 3.3849009901rem + 4.9504950495vw, 7.5rem);
  padding-top: 0.625rem;
  text-align: center;
  margin-bottom: clamp(0.625rem, 0.129950495rem + 2.4752475248vw, 2.1875rem);
}
.box-info__title {
  font-size: clamp(0.875rem, 0.676980198rem + 0.9900990099vw, 1.5rem);
  font-weight: bold;
  line-height: 1.2;
}
.box-info__sub-title {
  font-size: 0.5rem;
  line-height: 1.2;
}
.box-info__text {
  text-align: justify;
  direction: rtl;
}

.counter {
  background-color: var(--specialRedFlower);
}
.counter .container {
  padding: 0;
}
.counter__body {
  display: flex;
  justify-content: center;
}
.counter__item {
  flex: 1 0 20.4511278195%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 8.2706766917% 0;
}
@media (any-hover: hover) {
  .counter__item:hover {
    background-color: #c42400;
  }
}
@media (any-hover: none) {
  .counter__item {
    cursor: default;
  }
  .counter__item:active {
    background-color: #c42400;
  }
}
.counter__number::before {
  content: attr(data-number);
  font-size: clamp(1.125rem, 0.2141089109rem + 4.5544554455vw, 4rem);
  line-height: 1.2;
  text-transform: uppercase;
}
.counter__text {
  font-size: clamp(0.5rem, 0.3415841584rem + 0.7920792079vw, 1rem);
  line-height: 1.5;
}

.article-block {
  background: url("../img/Banner3.jpg") no-repeat center top/cover;
}
.article-block__body {
  padding: 18.045112782% 41.3533834586% 17.2932330827% 0;
  line-height: 1.222;
  text-align: justify;
  direction: rtl;
}
.article-block__title {
  font-size: clamp(0.75rem, 0.6311881188rem + 0.5940594059vw, 1.125rem);
  font-weight: bold;
  margin-bottom: clamp(0.625rem, 0.228960396rem + 1.9801980198vw, 1.875rem);
}
.article-block__text {
  font-size: clamp(0.5rem, 0.4207920792rem + 0.396039604vw, 0.75rem);
  font-weight: 300;
}

.footer {
  background-color: #030303;
}
.footer__menu {
  display: flex;
  justify-content: center;
  padding: 6.3909774436% 0 5.6390977444% 0;
  max-width: 44.375rem;
  margin: 0 auto;
}