@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueBold.eot');
    src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold.woff2') format('woff2'),
        url('BebasNeueBold.woff') format('woff'),
        url('BebasNeueBold.ttf') format('truetype'),
        url('BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPSMT.eot');
    src: url('TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
        url('TimesNewRomanPSMT.woff2') format('woff2'),
        url('TimesNewRomanPSMT.woff') format('woff'),
        url('TimesNewRomanPSMT.ttf') format('truetype'),
        url('TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

