- var namePage = 'index';
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="format-detection" content="telephone=no")
		meta(name="robots" content="none")
		title #{namePage}-Document
		link(rel="stylesheet", href=`./css/${namePage}-style.css`)
	body
		.wrapper
			main.main
				section.banner
					.container
						.banner__header
							p.banner__logo Restaurant
							.banner__menu.menu
								nav.menu__body 
									ul.menu__list
										li.menu__item 
											a.menu__link(href="#" data-goto=".banner") Home
										li.menu__item 
											a.menu__link(href="#" data-goto=".story") About Us
										li.menu__item 
											a.menu__link(href="#" data-goto=".restaurant-menu") Menu
										li.menu__item 
											a.menu__link(href="#" data-goto=".recipes") Faq
										li.menu__item 
											a.menu__link(href="#" data-goto=".foods-slider") Page
										li.menu__item 
											a.menu__link(href="#" data-goto=".any-other") Contact
								button.menu__burger.burger
									span
						.banner__body 
							h1.banner__title Grandrestaurant
							.banner__text.text1 
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
				section.story 
					.container 
						.story__content
							.story__img-box 
								.story__img 
									img(src="./img/Story.jpg", alt="photo of sushi")
							.story__body 
								h2.story__title.title Our Story
								.story__text.text1 
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				section.recipes 
					.container 
						.recipes__body
							h2.recipes__title.title Singatures Recipes
							.recipes__text.text1 
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				section.restaurant-menu
					.container 
						h2.restaurant-menu__title.title Our Menu
						.restaurant-menu__box.menu-restaurant 
							.menu-restaurant__column
								.menu-restaurant__item 
									.menu-restaurant__top 
										h5.menu-restaurant__title TOASTED BREADS & BEEF DRIPPING BUTTER
										p.menu-restaurant__price 20$
									p.menu-restaurant__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.menu-restaurant__item 
									.menu-restaurant__top 
										h5.menu-restaurant__title BREAD BOARD PLATTER
										p.menu-restaurant__price 30$
									p.menu-restaurant__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.menu-restaurant__item 
									.menu-restaurant__top 
										h5.menu-restaurant__title STICKY CHIPOTLE CHICKEN
										p.menu-restaurant__price 36$
									p.menu-restaurant__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.menu-restaurant__item 
									.menu-restaurant__top 
										h5.menu-restaurant__title SALT & PEPPER CALAMARI
										p.menu-restaurant__price 14$
									p.menu-restaurant__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.menu-restaurant__column
								.menu-restaurant__item 
									.menu-restaurant__top 
										h5.menu-restaurant__title CLUCK & DUCK WINGS
										p.menu-restaurant__price 18$
									p.menu-restaurant__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.menu-restaurant__item 
									.menu-restaurant__top 
										h5.menu-restaurant__title BEEF & BONE MARROW BON BONS
										p.menu-restaurant__price 2$
									p.menu-restaurant__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.menu-restaurant__item 
									.menu-restaurant__top 
										h5.menu-restaurant__title GARLIC KING PRAWNS
										p.menu-restaurant__price 36$
									p.menu-restaurant__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.menu-restaurant__item 
									.menu-restaurant__top 
										h5.menu-restaurant__title ANTIPASTI PLATE
										p.menu-restaurant__price 16$
									p.menu-restaurant__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				section.foods-slider.swiper 
					.foods-slider__wrap.swiper-wrapper
						.foods-slider__slide.swiper-slide
							.foods-slider__img-cont
								img(src="./img/slider/1.jpg", alt="food1")
						.foods-slider__slide.swiper-slide
							.foods-slider__img-cont
								img(src="./img/slider/2.jpg", alt="food2")
						.foods-slider__slide.swiper-slide
							.foods-slider__img-cont
								img(src="./img/slider/3.jpg", alt="food3")
						.foods-slider__slide.swiper-slide
							.foods-slider__img-cont
								img(src="./img/slider/1.jpg", alt="food1")
						.foods-slider__slide.swiper-slide
							.foods-slider__img-cont
								img(src="./img/slider/2.jpg", alt="food2")
						.foods-slider__slide.swiper-slide
							.foods-slider__img-cont
								img(src="./img/slider/3.jpg", alt="food3")
				section.any-other
					.container 
						.any-other__content 
							.any-other__column
								.any-other__item
									h3.any-other__title.any-other__title_big Restaurant
									p.any-other__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
							.any-other__column
								.any-other__item
									h4.any-other__title Sitemap
									.any-other__links
										.any-other__link-item
											a(href="#") What we do
										.any-other__link-item
											a(href="#") Who we are
										.any-other__link-item
											a(href="#") Projects
								.any-other__item
									h4.any-other__title Category
									.any-other__links
										.any-other__link-item
											a(href="#") Concreting
										.any-other__link-item
											a(href="#") Decoration
										.any-other__link-item
											a(href="#") Building
								.any-other__item
									h4.any-other__title Menu
									.any-other__links
										.any-other__link-item
											a(href="#") About us
										.any-other__link-item
											a(href="#") Services
										.any-other__link-item
											a(href="#") Projects
							.any-other__column#contact
								.any-other__item
									h4.any-other__title Contact Us
									.any-other__contacts
										.any-other__contacts-item._icon-phone-flip
											p 855-5564-65651
										.any-other__contacts-item._icon-location-arrow
											p Adress streets City
										.any-other__contacts-item._icon-envelope
											p your.mail@domains.com
			include _pug/_footer
		//- include _pug/_popup
		//- =====================================================================
		//- --------------- Слайдер Swiper ---------------
		script(type="module", src=`./js/${namePage}-sliderSwiper-script.js`)
		//- ----------
		//- script(src='./js/sliderSwiper/swiper-bundle/swiper-bundle-script.min.js')
		//- ----------------------------------------------------------------------
		//- --------------- Скрипт -----------------
		script(src=`./js/${namePage}-script.js`)