@charset "UTF-8";
.video__btn {
  transition: all 0.3s;
}

/* ------------------------------------------- */
/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  /* text-rendering: optimizeLegibility; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav, footer, header, aside {
  display: block;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* + */
input::-moz-placeholder {
  font: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
}
input, input::placeholder, button, textarea {
  font: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
}

textarea {
  resize: none;
}

input, textarea, button, select {
  background-color: transparent;
}

label {
  cursor: pointer;
}

form * {
  outline: none;
}

/* ------------------------------------------- */
:root {
  font-size: clamp(1em, 0em + 0.9411764706vw, 4.7058823529em);
}

body {
  font-family: "Times New Roman", sans-serif;
  font-size: 1rem;
  color: black;
  height: 300vh;
}
body > button.controls__full-screen {
  width: 50px;
  height: 50px;
  display: block;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.video {
  width: 100%;
  position: relative;
  z-index: 3;
  padding-bottom: min(100lvh, clamp(12.625rem, 5.9656593407rem + 33.2967032967vw, 31.5625rem));
}
@media (any-hover: hover) {
  .video._active {
    cursor: pointer;
  }
  .video._active:-webkit-full-screen, .video._active:-webkit-full-screen * {
    cursor: none;
  }
  .video._active:fullscreen, .video._active:fullscreen * {
    cursor: none;
  }
  .video._active:-webkit-full-screen._active-controls, .video._active:-webkit-full-screen._active-controls * {
    cursor: pointer;
  }
  .video._active:fullscreen._active-controls, .video._active:fullscreen._active-controls * {
    cursor: pointer;
  }
}
.video__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
:-webkit-full-screen .video__video {
  object-fit: contain;
}
:fullscreen .video__video {
  -o-object-fit: contain;
     object-fit: contain;
}
.video__video::-webkit-media-controls, .video__video::-webkit-media-controls-enclosure {
  display: none !important;
}
.video__controls {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
}
.video__btn {
  width: clamp(2.0625rem, 1.0914855072rem + 4.8550724638vw, 6.25rem);
  height: clamp(2.0625rem, 1.0914855072rem + 4.8550724638vw, 6.25rem);
  border-radius: 50%;
  background-color: #4f6169;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
@media (any-hover: hover) {
  .video__btn:hover {
    background-color: rgba(39, 61, 70, 0.7176470588);
  }
}
@media (any-hover: none) {
  .video__btn:active {
    background-color: rgba(39, 61, 70, 0.7176470588);
  }
}
.video__btn::before {
  font-size: clamp(0.75rem, 0.5036231884rem + 1.231884058vw, 1.8125rem);
  line-height: 1.2;
  color: white;
  padding-left: 40%;
  transition: font-size 0.5s;
}
.video._active .video__btn {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.video._active .video__btn::before {
  font-size: 0px;
}

.controls {
  display: none;
  opacity: 0;
  cursor: default;
  transition: opacity 0.3s;
}
.video._active .controls {
  background: gold;
  padding: 0.625rem 0.625rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
@media (any-hover: hover) {
  .video._active:-webkit-full-screen .controls {
    cursor: none;
  }
  .video._active:fullscreen .controls {
    cursor: none;
  }
  .video._active._active-controls:-webkit-full-screen .controls {
    cursor: default;
  }
  .video._active._active-controls:fullscreen .controls {
    cursor: default;
  }
}
.video._active._active-controls .controls {
  opacity: 1;
}
.controls._active {
  opacity: 1 !important;
}
@media (any-hover: hover) {
  .controls._active * {
    cursor: pointer !important;
  }
}
.controls__play, .controls__stop, .controls__full-screen {
  border: 0.125rem solid white;
  background-color: rgb(184, 184, 184);
}
.controls__play {
  width: 3.125rem;
}
.controls__play::before {
  content: "play";
}
.controls__play._active::before {
  content: "pause";
}
.controls__progress-container, .controls__volume-container {
  padding: 0 0.75rem;
  flex: 1 1 auto;
  height: 1.5625rem;
}
.controls__progress-track, .controls__volume-track {
  background-color: green;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.controls__progress-filling, .controls__volume-filling {
  display: inline-block;
  background: red;
  height: 100%;
}
.controls__progress-thumb, .controls__volume-thumb {
  background: black;
  border-radius: 50%;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0%;
  transform: translate(-50%, 0%);
  width: 1.5rem;
  height: 100%;
  cursor: pointer;
}
.controls__volume-container {
  flex: 0 0 max(4.375rem, 10%);
}