@font-face {
    font-family: "Forever Brush Script";
    src: url("ForeverBrushScript.eot");
    src:
        url("ForeverBrushScript.eot?#iefix") format("embedded-opentype"),
        url("ForeverBrushScript.woff2") format("woff2"),
        url("ForeverBrushScript.woff") format("woff"),
        url("ForeverBrushScript.ttf") format("truetype"),
        url("ForeverBrushScript.svg#ForeverBrushScript") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("ProximaNova-Regular.eot");
    src:
        url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("ProximaNova-Regular.woff2") format("woff2"),
        url("ProximaNova-Regular.woff") format("woff"),
        url("ProximaNova-Regular.ttf") format("truetype"),
        url("ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("ProximaNova-Thin.eot");
    src:
        url("ProximaNova-Thin.eot?#iefix") format("embedded-opentype"),
        url("ProximaNova-Thin.woff2") format("woff2"),
        url("ProximaNova-Thin.woff") format("woff"),
        url("ProximaNova-Thin.ttf") format("truetype"),
        url("ProximaNova-Thin.svg#ProximaNova-Thin") format("svg");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
