footer.footer
	.container
		.footer__body
			.footer__col
				.footer__copyr
					p Copyrights free-psd-templates.com
			.footer__col
				.footer__menu
					.footer__menu-item 
						a(href="#") Support
					.footer__menu-item 
						a(href="#") Contact Us
					.footer__menu-item 
						a(href="#") Disclaimer
					.footer__menu-item 
						a(href="#") Add More
			.footer__col
				.footer__socials
					a(href="#").footer__socials-item
						svg.icon
							use(xlink:href='./img/sprite.svg#facebook-f')
					a(href="#").footer__socials-item
						svg.icon
							use(xlink:href='./img/sprite.svg#Be')
					a(href="#").footer__socials-item
						svg.icon
							use(xlink:href='./img/sprite.svg#twitter')
					a(href="#").footer__socials-item
						svg.icon
							use(xlink:href='./img/sprite.svg#inst')
					a(href="#").footer__socials-item
						svg.icon
							use(xlink:href='./img/sprite.svg#pinterest')
					a(href="#").footer__socials-item
						svg.icon
							use(xlink:href='./img/sprite.svg#ball')