header.header
	.header__container.container
		a.header__logo(href="#") 
			img(src="#", alt="Logo")
		.header__menu.menu
			nav.menu__body 
				ul.menu__list
					li.menu__item 
						a.menu__link(href="#") Lorem
					li.menu__item 
						a.menu__link(href="#") Lorem
					li.menu__item 
						a.menu__link(href="#") Lorem
					li.menu__item 
						a.menu__link(href="#") Lorem
					li.menu__item 
						a.menu__link(href="#") Lorem
			button.header__burger.burger 
				span 
		.header__action 
			a.header__button(href="#") LOREM