@font-face {
    font-family: 'Brushwell';
    src: url('Brushwell.eot');
    src: url('Brushwell.eot?#iefix') format('embedded-opentype'),
        url('Brushwell.woff2') format('woff2'),
        url('Brushwell.woff') format('woff'),
        url('Brushwell.ttf') format('truetype'),
        url('Brushwell.svg#Brushwell') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('LouisGeorgeCafe-BoldItalic.eot');
    src: url('LouisGeorgeCafe-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe-BoldItalic.woff2') format('woff2'),
        url('LouisGeorgeCafe-BoldItalic.woff') format('woff'),
        url('LouisGeorgeCafe-BoldItalic.ttf') format('truetype'),
        url('LouisGeorgeCafe-BoldItalic.svg#LouisGeorgeCafe-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('LouisGeorgeCafe-Bold.eot');
    src: url('LouisGeorgeCafe-Bold.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe-Bold.woff2') format('woff2'),
        url('LouisGeorgeCafe-Bold.woff') format('woff'),
        url('LouisGeorgeCafe-Bold.ttf') format('truetype'),
        url('LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('LouisGeorgeCafe-Italic.eot');
    src: url('LouisGeorgeCafe-Italic.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe-Italic.woff2') format('woff2'),
        url('LouisGeorgeCafe-Italic.woff') format('woff'),
        url('LouisGeorgeCafe-Italic.ttf') format('truetype'),
        url('LouisGeorgeCafe-Italic.svg#LouisGeorgeCafe-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('LouisGeorgeCafeLight-Italic.eot');
    src: url('LouisGeorgeCafeLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafeLight-Italic.woff2') format('woff2'),
        url('LouisGeorgeCafeLight-Italic.woff') format('woff'),
        url('LouisGeorgeCafeLight-Italic.ttf') format('truetype'),
        url('LouisGeorgeCafeLight-Italic.svg#LouisGeorgeCafeLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('LouisGeorgeCafeLight.eot');
    src: url('LouisGeorgeCafeLight.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafeLight.woff2') format('woff2'),
        url('LouisGeorgeCafeLight.woff') format('woff'),
        url('LouisGeorgeCafeLight.ttf') format('truetype'),
        url('LouisGeorgeCafeLight.svg#LouisGeorgeCafeLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('LouisGeorgeCafe.eot');
    src: url('LouisGeorgeCafe.eot?#iefix') format('embedded-opentype'),
        url('LouisGeorgeCafe.woff2') format('woff2'),
        url('LouisGeorgeCafe.woff') format('woff'),
        url('LouisGeorgeCafe.ttf') format('truetype'),
        url('LouisGeorgeCafe.svg#LouisGeorgeCafe') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('NEXTART-Bold.eot');
    src: url('NEXTART-Bold.eot?#iefix') format('embedded-opentype'),
        url('NEXTART-Bold.woff2') format('woff2'),
        url('NEXTART-Bold.woff') format('woff'),
        url('NEXTART-Bold.ttf') format('truetype'),
        url('NEXTART-Bold.svg#NEXTART-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('NEXTART-Heavy.eot');
    src: url('NEXTART-Heavy.eot?#iefix') format('embedded-opentype'),
        url('NEXTART-Heavy.woff2') format('woff2'),
        url('NEXTART-Heavy.woff') format('woff'),
        url('NEXTART-Heavy.ttf') format('truetype'),
        url('NEXTART-Heavy.svg#NEXTART-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('NEXTART-Light.eot');
    src: url('NEXTART-Light.eot?#iefix') format('embedded-opentype'),
        url('NEXTART-Light.woff2') format('woff2'),
        url('NEXTART-Light.woff') format('woff'),
        url('NEXTART-Light.ttf') format('truetype'),
        url('NEXTART-Light.svg#NEXTART-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('NEXTART.eot');
    src: url('NEXTART.eot?#iefix') format('embedded-opentype'),
        url('NEXTART.woff2') format('woff2'),
        url('NEXTART.woff') format('woff'),
        url('NEXTART.ttf') format('truetype'),
        url('NEXTART.svg#NEXTART') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('NEXTART-SemiBold.eot');
    src: url('NEXTART-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NEXTART-SemiBold.woff2') format('woff2'),
        url('NEXTART-SemiBold.woff') format('woff'),
        url('NEXTART-SemiBold.ttf') format('truetype'),
        url('NEXTART-SemiBold.svg#NEXTART-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Velvet';
    src: url('RedVelvet-Regular.eot');
    src: url('RedVelvet-Regular.eot?#iefix') format('embedded-opentype'),
        url('RedVelvet-Regular.woff2') format('woff2'),
        url('RedVelvet-Regular.woff') format('woff'),
        url('RedVelvet-Regular.ttf') format('truetype'),
        url('RedVelvet-Regular.svg#RedVelvet-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

