// ====================================================================================
// ====================================================================================
@mixin scrollbar-style($vertOrHoriz: "", $scrollSize: 1.2235vw /*~=15px*/) {
	// https://www.youtube.com/watch?v=W19Se55mMJg
	// -----------------------------------------------------------------------
	// цвет трека
	$track_color: #25262a;
	// -------------------------------
	// направление градиента трека (по умолч. для вертикали)
	$track_gradDir: bottom /* right */;
	@if ($vertOrHoriz == "g") {
		@if ($track_gradDir == bottom) {
			$track_gradDir: right;
		} @else {
			$track_gradDir: bottom;
		}
	}
	// -------------------------------------
	// направление градиента ползунка (по умолч. для вертикали)
	$thumb_gradDir: bottom /* right */;
	@if ($vertOrHoriz == "g") {
		@if ($thumb_gradDir == bottom) {
			$thumb_gradDir: right;
		} @else {
			$thumb_gradDir: bottom;
		}
	}
	// -----------------------------------------------------------------------
	// цвета зависят от -track{background и box-shadow:inset} , а также от наличия бордера у ползунка
	$thumb_bordersColors: $track_color;
	$border-color_ends: #8aade0; // концы
	$border-color_sides: #a9c6f0; // бока
	@if ($vertOrHoriz == "v") {
		$thumb_bordersColors: $border-color_ends $border-color_sides;
	}
	@if ($vertOrHoriz == "g") {
		$thumb_bordersColors: $border-color_sides $border-color_ends;
	}
	// ------------------------------------------------------------------------
	@media (any-hover: hover) {
		::-webkit-scrollbar {
			// ширина скролбара
			width: $scrollSize;
			height: $scrollSize;
			// стилизация трека скролбара
			&-track {
				background: $track_color;
				// -----
				// background: linear-gradient(
				// 	to $track_gradDir,
				// 	rgba(169, 3, 41, 1) 0%,
				// 	rgb(20, 18, 18) 100%
				// );
				// ----
				// border: $scrollSize * 0.4 solid white;
				// ---
				// box-shadow: inset 0 0 $scrollSize / 3 rgb(255, 255, 255);
			}
			// стилизация ползунка
			&-thumb {
				background: rgb(193, 193, 202);
				// ---
				// background: linear-gradient(
				// 	to $thumb_gradDir,
				// 	rgb(199, 194, 195) 0%,
				// 	rgb(20, 107, 107) 100%
				// );
				// ---
				border-radius: $scrollSize / 2;
				// ---
				border: $scrollSize / 3.5 solid $track_color;
				// ---
				// border-color: $thumb_bordersColors;

				&:hover {
					background: #e1dde7;
					// -----
					// background: linear-gradient(
					// 	to $thumb_gradDir,
					// 	rgb(39, 42, 212) 0%,
					// 	rgb(107, 77, 20) 100%
					// );
				}
			}
		}
	}
}

// ====================================================================================
// ====================================================================================
@mixin horizontalIndent(
	$property,
	$px_min-f: "auto",
	$px_max-f,
	$px_min-w: 320,
	$px_max-w: $contWidth,
	$px_canvas-w: $canvasWidth
) {
	@if ($property == "ml") {
		$property: "margin-left";
	} @else if($property == "mr") {
		$property: "margin-right";
	} @else if ($property == "pl") {
		$property: "padding-left";
	} @else if($property == "pr") {
		$property: "padding-right";
	}
	// -----
	$canvasWidth_rem: ($px_canvas-w / 16) + rem;
	$px_max-f_rem: ($px_max-f / 16) + rem;
	//------
	#{$property}: clamp_F-px_vw($px_min-f, $px_max-f, $px_min-w, $px_max-w);
	@media (min-width: $canvasWidth_rem) {
		#{$property}: $px_max-f_rem;
	}
}
// ====================================================================================
