// =====================================================================================
// ------------- scss - переменые ------------
// 8K ширина
$xxxlWidth: 8000;
// Шырина холста
$canvasWidth: 1600;
// Ширина контейнера без безопасных падингов
$primitiveContWidth: 1110;
// Безопасный падинг(желательно 15)
$contSafePadding: 15;
// Ширина контейнера с учетом безопасных падингов
$contWidth: $primitiveContWidth + ($contSafePadding * 2);
// момент переключения меню на бургер
$switchMenu: 650;

// =====================================================================================
// ЧЮДО ФУНКЦИИ СЦЦС
@use "sass:math";
@import "_defSCSS/_functions.scss";
@import "_defSCSS/_mixins.scss";

// =====================================================================================
// 		подключение шрифтов
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,italic,700,700italic&display=swap");
// --------
@import url("../fonts/fonts_stylesheet.css");
@import url("../fonts/icons-font/icons-font_stylesheet.css");
// =====================================================================================
// 		подключение обнуления
@import url("___nullstyle+.css");
// =====================================================================================
// 		подключение стилей свипер-слайдера
// Нужные стили
// (внести измениние в название!!!)
@import url("index-sliderSwiper-style.css");
// Все стили
// @import url("./swiper-bundle/swiper-bundle-style.min.css");
// =====================================================================================
// =====================================================================================

:root {
	// адаптация для больших экранов
	font-size: clamp_F-em_vw(
		16,
		16 * ($xxxlWidth / $canvasWidth),
		16,
		$canvasWidth,
		$xxxlWidth
	);
}

@include scrollbar-style("", 1.1vw);

body {
	font-family: "Proxima Nova", "Roboto", sans-serif;
	font-size: clamp_F-rem_vw(14, 16) /*-f+-w+*/;
	color: white;
	// блокировка скрола
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// сайт загружен
	.loaded & {
	}

	// блокировка скрола при открытом меню
	&.menu-open {
		@media (max-width: rem($switchMenu)) {
			overflow: hidden;
			touch-action: none;
			overscroll-behavior: none;

			padding-right: var(--bodyLockPadding_js);
		}
	}
}
.wrapper {
	min-height: 100%;
	overflow: hidden;

	//# чтобы футер был прижат к низу
	display: flex;
	flex-direction: column;
	> main {
		flex: 1 1 auto;
	} //#

	//# Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
.container {
	max-width: rem($contWidth);
	padding: 0 ($contSafePadding + px);
	margin: 0 auto;
	@media (min-width: rem($canvasWidth)) {
		padding: 0 rem($contSafePadding);
	}
}

// ====================================================================================

._icon-phone-flip {
}
._icon-location-arrow {
}
._icon-envelope {
}

// ====================================================================================
.menu {
	display: flex;
	// .menu__body
	&__body {
		@media (max-width: rem($switchMenu)) {
			position: fixed;
			width: 100%;
			height: 100vh;
			left: -100%;
			top: 0;
			z-index: 2;
			transition: all 0.3s;
			.menu-open & {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: clamp_F-rem_vw(15, 54);
		@media (max-width: rem($switchMenu)) {
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: space-between;
			height: 100%;
			align-items: center;
			background-color: #1f1d22;
			padding: calc(12svh + rem(20)) rem(50);
			overflow: auto;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		font-size: rem(16);
		line-height: 1.2;
		@media (max-width: rem($switchMenu)) {
			font-size: rem(23);
			text-align: center;
		}

		transition: color 0.1s;
		@media (any-hover: hover) {
			&:hover {
				color: #e6e3ee;
			}
		}
		@media (any-hover: none) {
			cursor: default;
			&:active {
				color: #e6e3ee;
			}
		}
	}
	// .menu__burger
	&__burger {
	}
}
.burger {
	--burgerColor: white;
	display: none;
	@media (max-width: rem($switchMenu)) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: hover) {
			&:hover {
				--burgerColor: #d0ccda;
			}
		}
		@media (any-hover: none) {
			cursor: default;
			&:active {
				--burgerColor: #d0ccda;
			}
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: var(--burgerColor);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
// ====================================================================================
.text1 {
	font-size: clamp_F-rem_vw(14, 18) /*-f+-w+*/;
	line-height: 1.778;
	text-align: center;
}
.title {
	font-size: clamp_F-rem_vw(25, 56) /*-f+-w+*/;
	font-family: "Forever Brush Script";
	line-height: 0.571;
	text-align: center;
	margin-bottom: clamp_F-rem_vw(20, 40) /*-f+-w+*/;
	&::after {
		content: "";
		display: block;
		width: clamp_F-rem_vw(50, 109) /*-f+-w+*/;
		height: clamp_F-rem_vw(1, 2) /*-f+-w+*/;
		background-color: #c8235d;
		margin: 0 auto;
		margin-top: clamp_F-rem_vw(15, 30) /*-f+-w+*/;
	}
}
// ====================================================================================
.banner {
	background: url("../img/Banner.jpg") no-repeat center top / cover;
	min-height: 100svh;
	position: relative;
	padding-top: 6.5svh;
	padding-bottom: 20svh /* 13.5svh */;
	// .banner__header
	&__header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 50px;
		row-gap: 15px;
		margin-bottom: 33svh;
	}
	// .banner__logo
	&__logo {
		font-size: clamp_F-rem_vw(25, 31) /*-f+-w+*/;
		font-weight: 100;
		line-height: 1.032;
	}
	// .banner__menu
	&__menu {
		align-self: end;
		@media (max-width: rem($switchMenu)) {
			align-self: center;
		}
		@media (min-width: rem($canvasWidth - 220)) {
			position: absolute;
			right: clamp_F-rem_vw(70, 140, $canvasWidth - 140, $canvasWidth);
			// right: percentage($number: 140 / $canvasWidth);
		}
	}
	// .banner__body
	&__body {
		max-width: rem(740);
		width: 100%;
		margin: 0 auto;
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
	}
	// .banner__title
	&__title {
		font-size: clamp_F-rem_vw(25, 72) /*-f+-w+*/;
		font-weight: 100;
		text-transform: uppercase;
		line-height: 0.444;
		text-align: center;
		margin-bottom: clamp_F-rem_vw(25, 50) /*-f+-w+*/;
	}
	// .banner__text
	&__text {
	}
}

.story {
	background-color: #962323;
	padding: clamp_F-rem_vw(55, 115) 0;
	// .story__content
	&__content {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		@media (max-width: rem(900)) {
			flex-direction: column;
		}
	}
	&__img-box {
		max-width: clamp_F-mixPVwR(150, 448);
		width: 100%;
		@media (max-width: rem(900)) {
			order: 2;
			margin: 0 auto;
		}
	}
	// .story__img
	&__img {
		width: 100%;
		position: relative;
		padding-bottom: 92%;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .story__body
	&__body {
		max-width: rem(545);
		align-self: center;
		@media (max-width: rem(900)) {
			order: 1;
		}
	}
	// .story__title
	&__title {
		&::after {
			background-color: white;
		}
	}
	// .story__text
	&__text {
	}
}

.recipes {
	background: url("../img/Recipes.jpg") no-repeat center top / cover;
	padding: clamp_F-rem_vw(55, 115) 0;
	// .recipes__body
	&__body {
		max-width: rem(545);
		margin: 0 auto;
	}
	// .recipes__title
	&__title {
	}
	// .recipes__text
	&__text {
	}
}
.restaurant-menu {
	background-color: #f3f4f7;
	padding: clamp_F-rem_vw(55, 115) 0;
	// .restaurant-menu__title
	&__title {
		color: #0b0c0d;
		margin-bottom: clamp_F-rem_vw(20, 110);
	}
	// .restaurant-menu__box
	&__box {
	}
}
.menu-restaurant {
	display: flex;
	justify-content: space-between;
	gap: clamp_F-rem_vw(25, 55);
	flex-wrap: wrap;
	// .menu-restaurant__column
	&__column {
		max-width: rem(465);
		flex: 1 1 rem(400);
		margin: 0 auto;
	}
	// .menu-restaurant__item
	&__item {
		font-size: clamp_F-rem_vw(14, 16) /*-f+-w+*/;
		&:not(:last-child) {
			margin-bottom: clamp_F-rem_vw(25, 55) /*-f+-w+*/;
		}
	}
	// .menu-restaurant__top
	&__top {
		display: flex;
		justify-content: space-between;
		line-height: 1.2;
		margin-bottom: clamp_F-rem_vw(10, 20) /*-f+-w+*/;
	}
	// .menu-restaurant__title
	&__title {
		color: #0b0c0d;
	}
	// .menu-restaurant__price
	&__price {
		color: rgb(200, 35, 93);
	}
	// .menu-restaurant__text
	&__text {
		color: rgba(11, 12, 13, 0.9);
		line-height: 1.2;
	}
}
// ====================================================================================
.foods-slider {
	&__wrap {
	}
	// .foods-slider__item
	&__slide {
	}
	// .foods-slider__img-cont
	&__img-cont {
		width: 100%;
		position: relative;
		padding-bottom: percentage($number: 365 / 480);
		& img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
// ====================================================================================
.any-other {
	background-color: #25262a;
	padding: clamp_F-rem_vw(42, 85) 0;
	// .any-other__content
	&__content {
		font-size: rem(14);
		font-family: "Roboto";
		line-height: 1.2;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 70px;
		row-gap: clamp_F-rem_vw(30, 70) /*-f+-w+*/;
		@media (max-width: rem(970)) {
			justify-content: start;
		}
	}
	// .any-other__column
	&__column {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: rem(70);
		row-gap: clamp_F-rem_vw(30, 70) /*-f+-w+*/;
		@media (max-width: rem(970)) {
			justify-content: start;
		}
	}
	// .any-other__item
	&__item {
		max-width: rem(255);
	}
	// .any-other__text
	&__text {
		line-height: 1.7;
	}
	// .any-other__title
	&__title {
		font-size: clamp_F-rem_vw(16, 18) /*-f+-w+*/;
		margin-bottom: clamp_F-rem_vw(20, 40) /*-f+-w+*/;
		&_big {
			font-family: "Proxima Nova";
			font-size: clamp_F-rem_vw(20, 26) /*-f+-w+*/;
			font-weight: 100;
			line-height: 0.923;
		}
	}
	// .any-other__links
	&__links {
	}
	// .any-other__link-item
	&__link-item {
		&:not(:last-child) {
			margin-bottom: clamp_F-rem_vw(10, 20) /*-f+-w+*/;
		}
		transition: color 0.1s;
		@media (any-hover: hover) {
			&:hover {
				color: #c8235d;
			}
		}
		@media (any-hover: none) {
			cursor: default;
			&:active {
				color: #e6e3ee;
			}
		}
	}
	// .any-other__contacts
	&__contacts {
	}
	// .any-other__contacts-item
	&__contacts-item {
		display: flex;
		font-weight: bold;
		&:not(:last-child) {
			margin-bottom: clamp_F-rem_vw(10, 20) /*-f+-w+*/;
		}
		&::before {
			color: #c8235d;
			font-weight: normal;
			margin-right: clamp_F-mixPVwR(15, 19) /*-f+-w+*/;
		}
	}
}

.footer {
	background-color: #16171b;
	padding: clamp_F-rem_vw(30, 60) 0 clamp_F-rem_vw(20, 40);
	// .footer__body
	&__body {
		font-size: clamp_F-rem_vw(15, 16) /*-f+-w+*/;
		font-family: "Roboto";
		color: #8b8b8d;
		line-height: 1.5;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		gap: 40px;
		@media (max-width: rem(1000)) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}
	// .footer__col
	&__col {
	}
	// .footer__copyr
	&__copyr {
	}
	// .footer__menu
	&__menu {
		display: flex;
		gap: clamp_F-mixPVwR(15, 30) /*-f+-w+*/;
		justify-content: center;
		flex-wrap: wrap;
	}
	// .footer__menu-item
	&__menu-item {
		@media (any-hover: hover) {
			&:hover {
				color: white;
			}
		}
		@media (any-hover: none) {
			cursor: default;
			&:active {
				color: white;
			}
		}
	}
	// .footer__socials
	&__socials {
		display: flex;
		gap: rem(20);
		flex-wrap: wrap;
		justify-content: center;
	}
	// .footer__socials-item
	&__socials-item {
		& .icon {
			display: block;
			height: clamp_F-rem_vw(18, 30, $contWidth, 320);
			width: clamp_F-rem_vw(18, 30, $contWidth, 320);
			fill: #8b8b8d;
			@media (any-hover: hover) {
				cursor: pointer;
				&:hover {
					fill: white;
				}
			}
			@media (any-hover: none) {
				&:active {
					fill: white;
				}
			}
		}
	}
}
